// large screen
@include mediaXl {
}

// desktop

@include mediaLg {
}

// Tablets
@include mediaMd {
}

// Smartphone
@include mediaSm {
	nav {
		overflow-x: hidden;
	}
	#main-hero {
		height: 80vh;
		width: 100%;
		margin: 0;
		overflow: hidden;
		div.btn-black {
			top: 60%;
			right: 30%;
			&:hover {
				a.btn {
					text-decoration: underline;
				}
			}
		}
		img {
			width: 100%;
		}
		div.a-tag {
			color: #e41d1d;
			font-size: 1rem;
			top: 70%;
			right: 25%;
		}

		h1 {
			height: 50px;
			font-size: 2rem;
			text-justify: distribute;
			padding: 0 0 0 0px;
			margin: 0 0;
			top: 10%;
			left: 10%;
			width: 250px;
		}
	}

	#banner {
		height: 150vh;
		flex-direction: column;
		img {
			@include border;
			padding: 0;
			height: 50%;
			width: 100%;
			object-fit: cover;
		}
		div.text {
			width: 90%;
			div.btn-black {
				margin: 2rem 0rem 0 0;
			}
			.a-link {
				margin: 1rem 0rem 0 0;
			}
		}
	}

	// Partners
	$container-blur-width: 2%;

	.carousel-container {
		.slide {
			img {
				// @include border;
				padding: 1rem;
				width: 120px;
			}
		}

		&::before,
		&::after {
			width: $container-blur-width -10px;
		}
	}
	//

	// Partners btn

	.nav-arrow {
		width: 1.5rem;
		height: 1.5rem;

		&:hover {
			cursor: pointer;
			transform: scale(1.6);
		}
	}

	div.btn-left {
		left: 10%;
	}

	div.btn-right {
		right: 10%;
	}

	//

	// Find your Trips
	div.find-trip {
		display: flex;
		flex-direction: column;
		min-height: 80vh;
		max-height: auto;

		img {
			width: 100%;
			object-fit: scale-down;
			height: 40%;
		}
		form {
			.select-menu-style {
				font-size: 0.9rem;
				padding: 0.5rem 1.4rem 0.5rem 1.2rem;
				line-height: 1.5;
			}
			display: grid;
			justify-content: center;
			width: 100%;
			height: 60%;
			margin: 0;
			padding: 0.5rem;
			span {
				margin: 0rem;
			}
			select {
				margin-bottom: 0.5rem;
			}
			//
			.location {
				width: 58%;
			}

			.month {
				width: 40%;
			}

			.year {
				width: 21%;
			}

			.duration {
				width: 89%;
			}

			button.btn-blue {
				line-height: 0.4;
				font-size: 1.1rem;
				padding: 0.4rem 1rem;
			}
		}
	}
	//Popular Trips

	.popular-trips {
		width: 100%;
		margin: 0;
		// first card styling
		.first-card {
			.bnr {
				width: 95%;
				height: 120px;
			}
			h1 {
				font-size: 1.2rem;
				margin: auto;
				padding: auto;
			}
			h3 {
				margin: 1rem;
			}
		}
		//

		margin: 1px;
		.cards {
			width: 500%;

			.card {
				padding: 2px;
				width: 200px;
				&.first-card {
					width: 150px;
				}
				img {
					object-fit: scale-down, cover;

					height: 45%;
				}

				.price {
					margin: 0.5rem;
					font-size: 0.6rem;
				}
				// Rating and favorite section
				.rating {
					h6 {
						margin: 0.2rem;
						font-size: 1rem;
					}
					p {
						margin: 1rem 0.5rem;
						font-family: sans-serif;
						font-size: 0.7rem;
					}
				}
			}
		}
	}

	//
	//
}
